{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'main.css' %}">
  <title>React</title>
</head>
<body>
  <div id="root">

  </div>
    <script src="{% static 'main.js' %}"></script>
    <script type="text/json">
      {
        "public_key": "FLWPUBK_TEST-31d61a13026483fc38f15f0e90232374-X",
        "tx_ref": "hooli-tx-1920bbtyt",
        "amount": 54600,
        "currency": "NGN",
        "country": "NG",
        "payment_options": "card,mobilemoney,ussd",
        "customer": {
            "email": "user@gmail.com",
            "phone_number": "08102909304",
            "name": "yemi desola"
        }
    }
    </script>
</body>
</html>